<div class="row">
  <div class="container">
    <h1>Stage Details</h1>
    <p>
      <strong>Stage ID:</strong>
      <%= @stage.id %>
    </p>
    <p>
      <strong>Stage Description:</strong>
      <%= @stage.name %>
    </p>

    <p>
      <strong>Alias:</strong>
      <%= @stage.short_code %>
    </p>

    <%= link_to "View Participants", users_path, :class => "btn btn-success btn-lg" %>
  </div>
</div>
